In [1]:
import pandas as pd
dataset=pd.read_csv("Placement.csv")
dataset.head()

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0

# Calling user defined function Descriptive file

In [ ]:
from Descriptive import Descriptive

obj=Descriptive()

# Sregrating quantitative Data and qualtative

In [ ]:
quan,qual=obj.segreQuanQual(dataset)

In [ ]:
quan_data=dataset[quan]

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

In [ ]:
calc_vif(quan_data)

In [ ]:
quan_data=dataset[['etest_p','salary',]]

# Univarite Analysis

## Probability Density Function(PDF)

In [ ]:
# Density Polt

import seaborn as sns
x=dataset['ssc_p']
ax = sns.distplot(dataset['ssc_p'],kde=True)

In [ ]:
def get_pdf_probability(dataset,startrange,endrange):
    from matplotlib import pyplot
    from scipy.stats import norm
    import seaborn as sns
    ax = sns.distplot(dataset,kde=True,kde_kws={'color':'blue'},color='Green')
    pyplot.axvline(startrange,color='Red')
    pyplot.axvline(endrange,color='Red')
    # generate a sample
    sample = dataset
    # calculate parameters
    sample_mean =sample.mean()
    sample_std = sample.std()
    print('Mean=%.3f, Standard Deviation=%.3f' % (sample_mean, sample_std))
    # define the distribution
    dist = norm(sample_mean, sample_std)
    
    # sample probabilities for a range of outcomes
    values = [value for value in range(startrange, endrange)]
    probabilities = [dist.pdf(value) for value in values]    
    prob=sum(probabilities)
    print("The area between range({},{}):{}".format(startrange,endrange,sum(probabilities)))
    return prob

In [ ]:
get_pdf_probability(dataset['ssc_p'],60,60)

# cumulative Density function

In [ ]:
import matplotlib.pyplot as plt
x=dataset['ssc_p']
plt.hist(x,cumulative=True, density=True,bins=100)

In [ ]:
from statsmodels.distributions.empirical_distribution import ECDF
ecdf = ECDF(dataset['ssc_p'])
ecdf(65)

# Types of Test

# Z- Score: Normal distribution to Standard Normal Distribution

In [ ]:
# Normal Distribution
import seaborn as sns
sns.distplot(dataset['ssc_p'],kde=True)

In [ ]:
# Coverted to standard Normal Distribution
import seaborn as sns
mean=dataset['ssc_p'].mean()
std=dataset['ssc_p'].std()

values=[i for i in dataset['ssc_p']]

z_score=[((j-mean)/std) for j in values]

sns.distplot(z_score,kde=True)

sum(z_score)/len(z_score)
#z_score.std()

In [ ]:
dataset

In [ ]:
dataset[dataset["gender"]=="M"]["salary"]

# T-Test

#### Independant Sample
Diferrent Group(Male, Female) but same contion(salary)

In [4]:
from scipy.stats import ttest_ind
dataset=dataset.dropna()
male = dataset[dataset['gender']=='M']['salary']
female = dataset[dataset['gender']=='F']['salary']
#print(male)
ttest_ind(male, female)

TtestResult(statistic=np.float64(1.9448521615505496), pvalue=np.float64(0.053714668806405776), df=np.float64(146.0))

#### Dependant Sample
Same Group(Male) but Different Condition(ssc_p,hsc_p)

In [5]:
from scipy.stats import ttest_rel
#dataset=dataset.dropna()
male = dataset[dataset['gender']=='M']['ssc_p']
male1 = dataset[dataset['gender']=='M']['hsc_p']
ttest_rel(male, male1)

TtestResult(statistic=np.float64(0.881726473207718), pvalue=np.float64(0.38006050142386005), df=np.int64(99))

### for one sample mean

should same for different sample

scipy.stats.ttest_1samp(a, popmean, axis=0, nan_policy='propagate')

# ANAVO : Analysis of Variance

## One-Way Classification

In [6]:
import scipy.stats as stats

stats.f_oneway(dataset['ssc_p'],dataset['hsc_p'],dataset['degree_p'])

F_onewayResult(statistic=np.float64(4.866998084927855), pvalue=np.float64(0.008114829524764158))

In [7]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

#perform two-way ANOVA
model = ols('degree_p ~ C(ssc_p) + C(hsc_p) + C(ssc_p):C(hsc_p)', data=dataset).fit()
sm.stats.anova_lm(model, typ=2)

C:\Anaconda\envs\aiml\Lib\site-packages\statsmodels\base\model.py:1894: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 71, but rank is 0
  warnings.warn('covariance of constraints does not have full '
C:\Anaconda\envs\aiml\Lib\site-packages\statsmodels\base\model.py:1923: RuntimeWarning: invalid value encountered in divide
  F /= J
C:\Anaconda\envs\aiml\Lib\site-packages\statsmodels\base\model.py:1894: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 70, but rank is 0
  warnings.warn('covariance of constraints does not have full '
C:\Anaconda\envs\aiml\Lib\site-packages\statsmodels\base\model.py:1894: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 4970, but rank is 137
  warnings.warn('covariance of constraints does not have full '

                          sum_sq      df         F    PR(>F)
C(ssc_p)                     NaN    71.0       NaN       NaN
C(hsc_p)                     NaN    70.0       NaN       NaN
C(ssc_p):C(hsc_p)  338107.893205  4970.0  1.915252  0.143416
Residual              319.680000     9.0       NaN       NaN